@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "Open Sans", serif;
    background-color: #e8e8e8;
}

.dashboard-card {
    margin-bottom: 1rem;
}

.log-area {
    max-height: 200px;
    overflow-y: auto;
}

.status-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.status-info .badge {
    margin-bottom: 0.5rem;
}

.achievement-card {
    margin-top: 1rem;
}